body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.navbar-inverse {
  background-image: linear-gradient(to bottom, #FF0000 0, #222 100%);
  background-repeat: repeat-x;
}

.panel-heading {
  background-image: linear-gradient(to bottom, #FF0000 0, #222 100%);
  background-repeat: repeat-x;
}

.panel-primary {
  border-color: #FF0000;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #FF0000 0, #222 100%);
  background-repeat: repeat-x;
}
#accordian {
	color: black;
  border-color: 1px solid #CCC;
}
/*heading styles*/
#accordian h4 {
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	//background: linear-gradient(to bottom, #FF0000 0, #222 100%);
  border-color: 1px solid #CCC;
  background-repeat: repeat-x;
}
/*heading hover effect*/
#accordian h4:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

/*list items*/
#accordian li {
	list-style-type: none;
}
/*links*/
#accordian ul ul li a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}
/*hover effect on links*/
#accordian ul ul li a:hover {
	background: #003545;
  color: #FFFFFF;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}
