body {
  background-color: #606060;
  color: #fff;
}

textarea {
  margin-bottom: 10px;
}

.words-list {
  margin-top: 50px;
  list-style: none;
  li {
    width: 20%;
    padding: 10px;
    background-color: #000000;
  }
}

#error {
  display: none;
}

.error {
  color: #ff0000;
  text-shadow: 1px 1px 1px #000;
}

.highlight {
  background-color: #f3fa6f;
  color: #000;
}

.preview {
  background-color: #000;
  padding: 15px;
  opacity: 0.7;
  border: 1px solid #fff;
}
